:root { 
    font-family: sans-serif;
   
    --margin-regular: 25px 25px 25px 25px;
    --margin-big: 50px 50px 50px 50px;
    --vertical-spacer-big: 50px 0px 50px 0px;  
    --vertical-spacer: 25px 0px; 

    --padding-regular: 10px 20px; 
    --padding-big: 25px 50px;
   
    --color-main: rgba(173, 207, 219, 0.904); 
    --color-secondary: rgb(21, 85, 94);
    --color-accent: rgb(196, 212, 224); 

    --box-shadow-default: .1em .1em .5em rgba(0,0,0,.45);
}

.paragraph {
    margin: var(--vertical-spacer);
}

.paragraph-even {
    background: rgb(17 114 144 / 10%);
}

.paragraph-odd {
    background: rgb(52 201 245 / 15%);  
}

#logocontainer {
    display: flex;
    align-items: center;
    padding: var(--padding-regular);
}

.logotext1 {
    font-size: 10pt;
    font-weight: bold;
    color: rgb(192, 199, 206);
    align-self: center;
}
.logotext2 {
    font-weight: bold;
    color: rgb(192, 199, 206);
    font-size: 10pt;
    align-self: flex-end;
}

.lessonnumbertext {
    color:rgb(192, 199, 206);
    font-weight: bold;
    padding: var(--padding-regular);
}

.logo1 {
    margin-right: 10px; 
    padding: 5px;
    height: 35px;
}

.logo2 {
    padding: 5px; 
    height: 90px;
     
   
}

body {
    background: var(--color-secondary);
    margin: auto;
}

.section {
    background: whitesmoke;
    padding: var(--padding-big);
    width: 75vw;
    margin: auto; 
}

#lessons {
    margin: var(--vertical-spacer-big);
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none; 
    font-weight: bold;
    font-size: 20pt;
}

a:hover {
    background: #f6b93b;
}

#navbar {
    display: flex;
    justify-content: space-between;
    
    align-items: baseline;
}

#nav_menu {
    display: flex;
    align-items: center;
    padding: var(--padding-big);
}

.menu-item {
    font-size: 24pt;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

.title { 
    font-size: 26pt; 
    font-weight: 700;
}

.container {
    margin: var(--vertical-spacer-big);
}
.code {
    margin: var(--vertical-spacer);
}

pre {
 /*white-space: pre-wrap;*/
  
  overflow-x: auto;
  font-size: 12pt;
  background-color: #fff;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: var(--box-shadow-default);
  position: relative;   
}

.buttonBox{
  justify-content: space-between;
}

.button-next,.button-previous {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    margin: 25px 0px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-weight: bold; 
}

.button-next:hover, .button-previous:hover {
    color: #ffffff !important;
    background: #494949;
    border-color: #494949 !important;
        transition: all 0.4s ease 0s;
}

.button-next:active, .button-previous:active {
    background: rgb(173, 207, 219); 
}
.button-next {
    margin-left: auto;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;  
  }

  .caret-down::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(90deg);  
  }

  pre button {
    position: absolute;
    top: 15px;
    right: 15px;
  }

